#mfPreviewBar {
  display: none;
}
.sheet {
  position: relative;
}
.sheet .guideline {
  letter-spacing: 10px;
}
.sheet.wide-spacing .guideline {
  letter-spacing: 30px;
}

.all-caps .guideline {
  text-transform: uppercase;
}

.guideline {
  font-family: 'KG Primary Dots', sans-serif;
  text-align: center;
  border-top: 1px solid #333;
  font-size: 100px;
  height: 80px;
  line-height: 70px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  overflow: visible;
  cursor: default;
}
.guideline[contenteditable="true"] {
  cursor: text;
}
.guideline:before {
  border-top: 1px dashed #333;
  border-bottom: 1px solid #333;
  transform: scaleX(5.0) translateX(40%);
  -ms-transform: scaleX(5.0) translateX(40%);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 24px;
  left: 0;
  width: 20%;
  height: 41px;
  z-index: -1;
}

.write-here {
  position: absolute;
  left: -180px;
  width: 140px;
  top: -32px;
}
.write-here.or {
  height: 50px;
  top: 109px;
}
.write-here.on {
  height: 50px;
  top: 230px;
}
.write-here.any {
  height: 50px;
  top: 352px;
}
.write-here.other {
  height: 50px;
  top: 472px;
}
.write-here.line {
  height: 50px;
  top: 594px;
}
.sheet.single-line-mode .write-here.or,
.sheet.single-line-mode .write-here.on,
.sheet.single-line-mode .write-here.any,
.sheet.single-line-mode .write-here.other,
.sheet.single-line-mode .write-here.line
{
  display: none;
}
.write-here .instructions {
  padding: 20px;
  font-size: 35px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  color: #ddf8c6;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 20px;
	margin-top: -20px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 26px;
	margin-top: -26px;
}


.main-input {
  font-size: 30px;
}

.controls {
  text-align: center;
  margin-bottom: 40px;
}

@media print {
  .controls {
    display: none;
  }

  .sheet {
    margin: 1in 0;
  }

  .write-here {
    display: none;
  }
}

@media screen {
  .sheet {
    max-width: 720px;
    margin: 0 auto;
  }
}

/* vim: sw=2 expandtab
 */
