#mfPreviewBar {
  display: none;
}
.sheet {
  position: relative;
}
.sheet .guideline {
  letter-spacing: 10px;
}
.sheet.wide-spacing .guideline {
  letter-spacing: 30px;
}

.all-caps {
  text-transform: uppercase;
}

.guideline {
  font-family: 'KG Primary Dots', sans-serif;
  text-align: center;
  border-top: 1px solid #333;
  font-size: 100px;
  height: 80px;
  line-height: 70px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  overflow: hidden;
  cursor: text;
}
.guideline:before {
  border-top: 1px dashed #333;
  border-bottom: 1px solid #333;
  transform: scaleX(5.0) translateX(40%);
  -ms-transform: scaleX(5.0) translateX(40%);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 30px;
  left: 0;
  width: 20%;
  height: 33px;
  z-index: -1;
  overflow: hidden;
}

.write-here {
  position: absolute;
  left: -190px;
  width: 150px;
  height: 100px;
  top: -36px;
}
.write-here .instructions {
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  color: #ddf8c6;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 20px;
	margin-top: -20px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 26px;
	margin-top: -26px;
}


.main-input {
  font-size: 30px;
}

.controls {
  text-align: center;
  margin-bottom: 40px;
}

@media print {
  .controls {
    display: none;
  }

  .sheet {
    margin: 1in 0;
  }

  .write-here {
    display: none;
  }
}

@media screen {
  .sheet {
    max-width: 720px;
    margin: 0 auto;
  }
}

/* vim: sw=2 expandtab
 */
